body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:14px;
  top:71px;
  width:162px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  line-height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1029px;
  top:86px;
  width:175px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:324px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:455px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:590px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:199px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:110px;
  width:1190px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1190px;
  height:3px;
}
#u15 {
  position:absolute;
  left:723px;
  top:110px;
  width:90px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  height:3px;
}
#u16 {
  position:absolute;
  left:723px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:852px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1181px;
  top:196px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1433px;
  top:196px;
  width:134px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1256px;
  top:199px;
  width:46px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u25 {
  position:absolute;
  left:1318px;
  top:196px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1377px;
  top:199px;
  width:46px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u28 {
  position:absolute;
  left:1626px;
  top:196px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1570px;
  top:199px;
  width:46px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u31 {
  position:absolute;
  left:1800px;
  top:263px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1644px;
  top:263px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1792px;
  top:380px;
  width:113px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1318px;
  top:379px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1699px;
  top:266px;
  width:91px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:74px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:91px;
  height:1px;
}
#u40 {
  position:absolute;
  left:1663px;
  top:220px;
  width:10px;
  height:37px;
}
#u40_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u40_end {
  position:absolute;
  left:-5px;
  top:20px;
  width:20px;
  height:18px;
}
#u40_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:37px;
}
#u41 {
  position:absolute;
  left:1843px;
  top:289px;
  width:10px;
  height:77px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:60px;
  width:20px;
  height:18px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:77px;
}
#u42 {
  position:absolute;
  left:1855px;
  top:307px;
  width:29px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1567px;
  top:473px;
  width:240px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u45 {
  position:absolute;
  left:1256px;
  top:216px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1318px;
  top:470px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:1433px;
  top:379px;
  width:134px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1377px;
  top:382px;
  width:46px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u52 {
  position:absolute;
  left:1577px;
  top:382px;
  width:180px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u53 {
  position:absolute;
  left:1433px;
  top:470px;
  width:134px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1377px;
  top:473px;
  width:46px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:29px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:46px;
  height:1px;
}
#u56 {
  position:absolute;
  left:1817px;
  top:470px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1843px;
  top:406px;
  width:10px;
  height:57px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u59 {
  position:absolute;
  left:1907px;
  top:266px;
  width:67px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:50px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:67px;
  height:1px;
}
#u60 {
  position:absolute;
  left:1926px;
  top:250px;
  width:29px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1991px;
  top:263px;
  width:179px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1487px;
  top:327px;
  width:584px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:567px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:584px;
  height:1px;
}
#u65 {
  position:absolute;
  left:2065px;
  top:289px;
  width:10px;
  height:44px;
}
#u65_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u65_end {
  position:absolute;
  left:-5px;
  top:27px;
  width:20px;
  height:18px;
}
#u65_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:44px;
}
#u66 {
  position:absolute;
  left:1482px;
  top:216px;
  width:10px;
  height:117px;
}
#u66_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u66_end {
  position:absolute;
  left:-5px;
  top:100px;
  width:20px;
  height:18px;
}
#u66_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:117px;
}
#u67 {
  position:absolute;
  left:211px;
  top:149px;
  width:936px;
  height:464px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:464px;
}
#u68 {
  position:absolute;
  left:2px;
  top:224px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:651px;
  top:247px;
  width:419px;
  height:146px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:146px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:415px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:774px;
  top:376px;
  width:106px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:13px;
  width:102px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:655px;
  top:376px;
  width:115px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:214px;
  top:620px;
  width:936px;
  height:464px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:464px;
}
#u76 {
  position:absolute;
  left:2px;
  top:224px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:654px;
  top:740px;
  width:395px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:100px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:391px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:777px;
  top:863px;
  width:106px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:13px;
  width:102px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:658px;
  top:863px;
  width:115px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:14px;
  top:142px;
  width:145px;
  height:1252px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:1252px;
}
#u84 {
  position:absolute;
  left:2px;
  top:618px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:14px;
  top:145px;
  width:145px;
  height:41px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:41px;
  top:155px;
  width:133px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:21px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:41px;
  top:420px;
  width:57px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#393B3E;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:41px;
  top:447px;
  width:90px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#393B3E;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:14px;
  top:401px;
  width:145px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:128px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:145px;
  height:1px;
}
#u94 {
  position:absolute;
  left:41px;
  top:474px;
  width:90px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#393B3E;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
