body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2229px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:292px;
  top:150px;
  width:433px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:292px;
  top:773px;
  width:433px;
  height:178px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:178px;
}
#u3 {
  position:absolute;
  left:2px;
  top:81px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:292px;
  top:100px;
  width:433px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:490px;
  top:113px;
  width:37px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:306px;
  top:107px;
  width:36px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:386px;
  top:848px;
  width:200px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:386px;
  top:910px;
  width:200px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:546px;
  top:882px;
  width:117px;
  height:20px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:601px;
  top:898px;
  width:62px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:830px;
  top:552px;
  width:109px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1270px;
  top:100px;
  width:433px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1270px;
  top:150px;
  width:433px;
  height:600px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:600px;
}
#u23 {
  position:absolute;
  left:2px;
  top:292px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1342px;
  top:371px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1510px;
  top:371px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1381px;
  top:517px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1550px;
  top:517px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1796px;
  top:100px;
  width:433px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1796px;
  top:150px;
  width:433px;
  height:600px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:600px;
}
#u35 {
  position:absolute;
  left:2px;
  top:292px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1931px;
  top:552px;
  width:163px;
  height:40px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:1829px;
  top:410px;
  width:80px;
  height:40px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1922px;
  top:418px;
  width:19px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:1891px;
  top:424px;
  width:16px;
  height:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1959px;
  top:410px;
  width:80px;
  height:40px;
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:2052px;
  top:418px;
  width:19px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:2015px;
  top:424px;
  width:16px;
  height:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:2089px;
  top:410px;
  width:80px;
  height:40px;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:2182px;
  top:418px;
  width:19px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:2142px;
  top:424px;
  width:16px;
  height:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1400px;
  top:243px;
  width:169px;
  height:37px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:37px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:1450px;
  top:113px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:663px;
  top:560px;
  width:157px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:140px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:157px;
  height:2px;
}
#u60 {
  position:absolute;
  left:1948px;
  top:202px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u61 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:673px;
  top:898px;
  width:62px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:44px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:353px;
  top:964px;
  width:310px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:353px;
  top:547px;
  width:310px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
}
#u67 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:320px;
  top:181px;
  width:380px;
  height:349px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:349px;
}
#u69 {
  position:absolute;
  left:2px;
  top:164px;
  width:376px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:353px;
  top:604px;
  width:310px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:616px;
  top:183px;
  width:83px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:46px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1982px;
  top:113px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:810px;
  top:868px;
  width:440px;
  height:72px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:72px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:810px;
  top:970px;
  width:440px;
  height:260px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:260px;
}
#u79 {
  position:absolute;
  left:2px;
  top:122px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:843px;
  top:1112px;
  width:167px;
  height:40px;
  font-size:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u81 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:888px;
  top:1012px;
  width:78px;
  height:78px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u83 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1053px;
  top:1112px;
  width:167px;
  height:40px;
  font-size:20px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1098px;
  top:1012px;
  width:78px;
  height:78px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u87 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1025px;
  top:970px;
  width:10px;
  height:260px;
}
#u88_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u88_end {
  position:absolute;
  left:-5px;
  top:243px;
  width:20px;
  height:18px;
}
#u88_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:260px;
}
#u89 {
  position:absolute;
  left:810px;
  top:1180px;
  width:220px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u90 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1031px;
  top:1180px;
  width:219px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
}
#u92 {
  position:absolute;
  left:2px;
  top:14px;
  width:215px;
  word-wrap:break-word;
}
