body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1000px;
  top:100px;
  width:670px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1000px;
  top:350px;
  width:1149px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1132px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1149px;
  height:5px;
}
#u3 {
  position:absolute;
  left:1000px;
  top:200px;
  width:490px;
  height:70px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:70px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1000px;
  top:460px;
  width:670px;
  height:37px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1001px;
  top:1210px;
  width:1149px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1132px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1149px;
  height:5px;
}
#u8 {
  position:absolute;
  left:1000px;
  top:560px;
  width:930px;
  height:66px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:66px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1000px;
  top:703px;
  width:1154px;
  height:430px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:233px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:237px;
  top:0px;
  width:287px;
  height:80px;
  font-size:26px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:80px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:283px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:524px;
  top:0px;
  width:300px;
  height:80px;
  font-size:26px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u16 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:824px;
  top:0px;
  width:325px;
  height:80px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:80px;
}
#u18 {
  position:absolute;
  left:2px;
  top:26px;
  width:321px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:80px;
  width:237px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:115px;
}
#u20 {
  position:absolute;
  left:2px;
  top:44px;
  width:233px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:237px;
  top:80px;
  width:287px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:115px;
}
#u22 {
  position:absolute;
  left:2px;
  top:13px;
  width:283px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:524px;
  top:80px;
  width:300px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:115px;
}
#u24 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:824px;
  top:80px;
  width:325px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:115px;
}
#u26 {
  position:absolute;
  left:2px;
  top:13px;
  width:321px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:195px;
  width:237px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:115px;
}
#u28 {
  position:absolute;
  left:2px;
  top:44px;
  width:233px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:237px;
  top:195px;
  width:287px;
  height:115px;
  font-size:26px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:115px;
}
#u30 {
  position:absolute;
  left:2px;
  top:44px;
  width:283px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:524px;
  top:195px;
  width:300px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:115px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:824px;
  top:195px;
  width:325px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:115px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:321px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:310px;
  width:237px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:115px;
}
#u36 {
  position:absolute;
  left:2px;
  top:44px;
  width:233px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:237px;
  top:310px;
  width:287px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:115px;
}
#u38 {
  position:absolute;
  left:2px;
  top:44px;
  width:283px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:524px;
  top:310px;
  width:300px;
  height:115px;
  font-size:26px;
  color:#FF0000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:115px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:824px;
  top:310px;
  width:325px;
  height:115px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:115px;
}
#u42 {
  position:absolute;
  left:2px;
  top:44px;
  width:321px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1000px;
  top:1300px;
  width:670px;
  height:37px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:37px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1000px;
  top:1366px;
  width:1220px;
  height:160px;
  font-family:'', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:160px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:100px;
  width:640px;
  height:1136px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u48 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1001px;
  top:2052px;
  width:358px;
  height:342px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:342px;
}
#u50 {
  position:absolute;
  left:2px;
  top:163px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1033px;
  top:2134px;
  width:300px;
  height:40px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:1000px;
  top:1600px;
  width:362px;
  height:385px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:385px;
}
#u53 {
  position:absolute;
  left:2px;
  top:184px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1001px;
  top:1601px;
  width:360px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1124px;
  top:1614px;
  width:120px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1020px;
  top:1755px;
  width:98px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1018px;
  top:1608px;
  width:36px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1320px;
  top:1608px;
  width:36px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u63 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1078px;
  top:1692px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:1018px;
  top:1680px;
  width:40px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1081px;
  top:1817px;
  width:201px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:14px;
  width:197px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1097px;
  top:1827px;
  width:30px;
  height:30px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1099px;
  top:1829px;
  width:26px;
  height:26px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u73 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1325px;
  top:1693px;
  width:26px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1018px;
  top:1732px;
  width:334px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:317px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:334px;
  height:1px;
}
#u77 {
  position:absolute;
  left:1448px;
  top:1600px;
  width:362px;
  height:385px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:385px;
}
#u78 {
  position:absolute;
  left:2px;
  top:184px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1449px;
  top:1601px;
  width:360px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u80 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1572px;
  top:1614px;
  width:91px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:1466px;
  top:1608px;
  width:36px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1768px;
  top:1608px;
  width:36px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1588px;
  top:1769px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1556px;
  top:1817px;
  width:150px;
  height:40px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u90 {
  position:absolute;
  left:1361px;
  top:1699px;
  width:88px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:4px;
  width:88px;
  height:2px;
}
#u91 {
  position:absolute;
  left:1716px;
  top:1841px;
  width:183px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:166px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:4px;
  width:183px;
  height:2px;
}
#u92 {
  position:absolute;
  left:1057px;
  top:1775px;
  width:120px;
  height:270px;
}
#u92_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:244px;
}
#u92_seg1 {
  position:absolute;
  left:-10px;
  top:220px;
  width:140px;
  height:20px;
}
#u92_seg2 {
  position:absolute;
  left:110px;
  top:220px;
  width:20px;
  height:54px;
}
#u93 {
  position:absolute;
  left:-50px;
  top:187px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1002px;
  top:2053px;
  width:356px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1142px;
  top:2065px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:1018px;
  top:2059px;
  width:36px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1315px;
  top:2059px;
  width:36px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1452px;
  top:2170px;
  width:369px;
  height:101px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:101px;
}
#u103 {
  position:absolute;
  left:2px;
  top:42px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1482px;
  top:2189px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1531px;
  top:2197px;
  width:235px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1564px;
  top:2239px;
  width:37px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:1688px;
  top:2239px;
  width:37px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:1452px;
  top:2127px;
  width:307px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:24px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1909px;
  top:1827px;
  width:371px;
  height:39px;
  font-family:'.AppleSystemUIFont', '.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#000000;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:39px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1334px;
  top:2067px;
  width:0px;
  height:-160px;
}
#u116_seg0 {
  position:absolute;
  left:-10px;
  top:-164px;
  width:20px;
  height:174px;
}
#u117 {
  position:absolute;
  left:-50px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
