body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:14px;
  top:110px;
  width:1190px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1190px;
  height:3px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:14px;
  top:71px;
  width:162px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  line-height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:324px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:723px;
  top:110px;
  width:90px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  height:3px;
}
#u8 {
  position:absolute;
  left:455px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:590px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:723px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:199px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:852px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:8px;
  top:680px;
  width:161px;
  height:191px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:191px;
}
#u19 {
  position:absolute;
  left:2px;
  top:88px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:169px;
  top:127px;
  width:1049px;
  height:410px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:410px;
}
#u21 {
  position:absolute;
  left:2px;
  top:197px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:169px;
  top:537px;
  width:1049px;
  height:334px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:334px;
}
#u23 {
  position:absolute;
  left:2px;
  top:159px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:16px;
  top:135px;
  width:145px;
  height:549px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:549px;
}
#u25 {
  position:absolute;
  left:2px;
  top:266px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1029px;
  top:86px;
  width:175px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
