body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:14px;
  top:71px;
  width:162px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  line-height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:8px;
  top:680px;
  width:161px;
  height:191px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:191px;
}
#u5 {
  position:absolute;
  left:2px;
  top:88px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:16px;
  top:135px;
  width:145px;
  height:549px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:549px;
}
#u7 {
  position:absolute;
  left:2px;
  top:266px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1029px;
  top:86px;
  width:175px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:14px;
  top:306px;
  width:145px;
  height:35px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:62px;
  top:313px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:181px;
  top:136px;
  width:1023px;
  height:766px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:766px;
}
#u15 {
  position:absolute;
  left:2px;
  top:375px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:14px;
  top:110px;
  width:1190px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1190px;
  height:3px;
}
#u17 {
  position:absolute;
  left:852px;
  top:110px;
  width:90px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  height:3px;
}
#u18 {
  position:absolute;
  left:324px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:455px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:590px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:199px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:723px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:852px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
