body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:153px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:153px;
}
#u1 {
  position:absolute;
  left:2px;
  top:68px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:163px;
  width:670px;
  height:300px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:301px;
}
#u3 {
  position:absolute;
  left:2px;
  top:142px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:182px;
  width:81px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:69px;
  top:227px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:101px;
  top:261px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:69px;
  top:294px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:69px;
  top:420px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:149px;
  top:227px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:149px;
  top:261px;
  width:66px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:150px;
  top:419px;
  width:169px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input {
  font-family:'应用字体';
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:150px;
  top:296px;
  width:399px;
  height:100px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19_input {
  font-family:'应用字体';
}
#u20 {
  position:absolute;
  left:20px;
  top:483px;
  width:670px;
  height:241px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:242px;
}
#u21 {
  position:absolute;
  left:2px;
  top:112px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:40px;
  top:502px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:71px;
  top:547px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:103px;
  top:591px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:103px;
  top:633px;
  width:49px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:162px;
  top:587px;
  width:200px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30_input {
  font-family:'应用字体';
}
#u31 {
  position:absolute;
  left:107px;
  top:676px;
  width:45px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:162px;
  top:673px;
  width:200px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33_input {
  font-family:'应用字体';
}
#u34 {
  position:absolute;
  left:163px;
  top:633px;
  width:161px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:162px;
  top:543px;
  width:200px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36_input {
  font-family:'应用字体';
}
#u37 {
  position:absolute;
  left:218px;
  top:1161px;
  width:103px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:41px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:548px;
  width:35px;
  height:15px;
  color:#FF0000;
  text-align:right;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:58px;
  top:592px;
  width:35px;
  height:15px;
  color:#FF0000;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:58px;
  top:633px;
  width:35px;
  height:15px;
  color:#FF0000;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:297px;
  width:35px;
  height:15px;
  color:#FF0000;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:30px;
  top:421px;
  width:35px;
  height:15px;
  color:#FF0000;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:239px;
  top:223px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:20px;
  top:747px;
  width:810px;
  height:394px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:395px;
}
#u52 {
  position:absolute;
  left:2px;
  top:189px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:50px;
  top:765px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:135px;
  top:815px;
  width:81px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:135px;
  top:894px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:135px;
  top:936px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:119px;
  top:976px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:216px;
  top:974px;
  width:200px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u63_input {
  font-family:'应用字体';
}
#u64 {
  position:absolute;
  left:135px;
  top:852px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:71px;
  top:1016px;
  width:145px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:216px;
  top:1012px;
  width:200px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68_input {
  font-family:'应用字体';
}
#u69 {
  position:absolute;
  left:87px;
  top:1058px;
  width:129px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:17px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:216px;
  top:1054px;
  width:200px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71_input {
  font-family:'应用字体';
}
#u72 {
  position:absolute;
  left:330px;
  top:1100px;
  width:141px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:216px;
  top:848px;
  width:200px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u74_input {
  font-family:'应用字体';
}
#u74_input:disabled {
  color:grayText;
}
#u75 {
  position:absolute;
  left:216px;
  top:890px;
  width:200px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u75_input {
  font-family:'应用字体';
}
#u75_input:disabled {
  color:grayText;
}
#u76 {
  position:absolute;
  left:216px;
  top:932px;
  width:200px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u76_input {
  font-family:'应用字体';
}
#u77 {
  position:absolute;
  left:216px;
  top:811px;
  width:200px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u77_input {
  font-family:'应用字体';
}
#u77_input:disabled {
  color:grayText;
}
#u78 {
  position:absolute;
  left:429px;
  top:890px;
  width:106px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u78_input {
  font-family:'应用字体';
}
#u78_input:disabled {
  color:grayText;
}
#u79 {
  position:absolute;
  left:137px;
  top:769px;
  width:630px;
  height:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:216px;
  top:1100px;
  width:131px;
  height:13px;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83 {
  position:absolute;
  left:221px;
  top:817px;
  width:53px;
  height:16px;
  color:#000000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:221px;
  top:853px;
  width:79px;
  height:16px;
  color:#000000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:219px;
  top:980px;
  width:183px;
  height:16px;
  color:#CCCCCC;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:830px;
  top:895px;
  width:62px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:14px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:62px;
  height:1px;
}
#u90 {
  position:absolute;
  left:892px;
  top:891px;
  width:148px;
  height:26px;
  color:#FF0000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:20px;
  top:883px;
  width:810px;
  height:37px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:38px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:20px;
  top:1005px;
  width:810px;
  height:37px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:38px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:830px;
  top:1018px;
  width:62px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:14px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:62px;
  height:1px;
}
#u97 {
  position:absolute;
  left:892px;
  top:1014px;
  width:148px;
  height:26px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:119px;
  top:817px;
  width:26px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:119px;
  top:851px;
  width:26px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:119px;
  top:892px;
  width:26px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:119px;
  top:936px;
  width:26px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:103px;
  top:975px;
  width:26px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:58px;
  top:1016px;
  width:26px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:71px;
  top:1058px;
  width:26px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
