body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:183px;
  top:143px;
  width:1021px;
  height:42px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:42px;
}
#u1 {
  position:absolute;
  left:2px;
  top:13px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:14px;
  top:142px;
  width:145px;
  height:1252px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:1252px;
}
#u3 {
  position:absolute;
  left:2px;
  top:618px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:14px;
  top:71px;
  width:162px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  line-height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:14px;
  top:145px;
  width:145px;
  height:41px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:41px;
  top:155px;
  width:133px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:41px;
  top:196px;
  width:90px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#393B3E;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1029px;
  top:86px;
  width:175px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:200px;
  top:154px;
  width:90px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:14px;
  top:110px;
  width:1190px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1190px;
  height:3px;
}
#u19 {
  position:absolute;
  left:324px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:455px;
  top:110px;
  width:90px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  height:3px;
}
#u22 {
  position:absolute;
  left:199px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:455px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:590px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:723px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:852px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:176px;
  top:200px;
  width:825px;
  height:970px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:970px;
}
#u33 {
  position:absolute;
  left:2px;
  top:477px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
