body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:183px;
  top:143px;
  width:1021px;
  height:42px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:42px;
}
#u1 {
  position:absolute;
  left:2px;
  top:13px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:17px;
  top:142px;
  width:145px;
  height:1252px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:1252px;
}
#u3 {
  position:absolute;
  left:2px;
  top:618px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:14px;
  top:110px;
  width:1190px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1190px;
  height:3px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:14px;
  top:71px;
  width:162px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  line-height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:324px;
  top:80px;
  width:90px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0066FF;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:324px;
  top:110px;
  width:90px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  height:3px;
}
#u12 {
  position:absolute;
  left:199px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:44px;
  top:289px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:14px;
  top:507px;
  width:149px;
  height:33px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:14px;
  top:486px;
  width:149px;
  height:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:33px;
  top:156px;
  width:111px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:196px;
  width:133px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:116px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:133px;
  height:1px;
}
#u23 {
  position:absolute;
  left:44px;
  top:321px;
  width:81px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:44px;
  top:248px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:17px;
  top:277px;
  width:145px;
  height:32px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:44px;
  top:285px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1029px;
  top:86px;
  width:175px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:198px;
  top:156px;
  width:90px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:44px;
  top:216px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:455px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:590px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:723px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:852px;
  top:80px;
  width:90px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:185px;
  top:188px;
  width:814px;
  height:671px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:671px;
}
#u46 {
  position:absolute;
  left:2px;
  top:328px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:44px;
  top:352px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
