body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:15px;
  top:20px;
  width:975px;
  height:111px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:111px;
}
#u1 {
  position:absolute;
  left:2px;
  top:48px;
  width:971px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:131px;
  width:154px;
  height:607px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:607px;
}
#u3 {
  position:absolute;
  left:2px;
  top:296px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:48px;
  top:284px;
  width:72px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:48px;
  top:253px;
  width:72px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:51px;
  top:257px;
  width:76px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:182px;
  top:140px;
  width:80px;
  height:69px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:69px;
}
#u11 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:272px;
  top:146px;
  width:150px;
  height:21px;
  font-size:20px;
  color:#06A7E1;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:459px;
  top:181px;
  width:150px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:272px;
  top:207px;
  width:211px;
  height:13px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:272px;
  top:180px;
  width:150px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:459px;
  top:207px;
  width:211px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:189px;
  top:240px;
  width:781px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:51px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:777px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:214px;
  top:256px;
  width:98px;
  height:19px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:317px;
  top:254px;
  width:46px;
  height:21px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1050px;
  top:240px;
  width:620px;
  height:100px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:101px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1067px;
  top:256px;
  width:98px;
  height:19px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1063px;
  top:288px;
  width:596px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:33px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:592px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1170px;
  top:253px;
  width:46px;
  height:21px;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1104px;
  top:297px;
  width:495px;
  height:15px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1051px;
  top:216px;
  width:135px;
  height:15px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1078px;
  top:295px;
  width:15px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1007px;
  top:240px;
  width:10px;
  height:100px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:91px;
  width:20px;
  height:14px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u43 {
  position:absolute;
  left:995px;
  top:276px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#FF0000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:189px;
  top:465px;
  width:982px;
  height:34px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:189px;
  top:538px;
  width:982px;
  height:410px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:410px;
}
#u48 {
  position:absolute;
  left:2px;
  top:197px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:194px;
  top:440px;
  width:98px;
  height:19px;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:194px;
  top:500px;
  width:966px;
  height:32px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:33px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:962px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:214px;
  top:509px;
  width:36px;
  height:14px;
  font-size:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:301px;
  top:509px;
  width:116px;
  height:14px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:464px;
  top:510px;
  width:73px;
  height:12px;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:617px;
  top:509px;
  width:46px;
  height:14px;
  font-size:12px;
  text-align:right;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:778px;
  top:509px;
  width:5px;
  height:14px;
  font-size:12px;
  text-align:right;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:879px;
  top:509px;
  width:32px;
  height:14px;
  font-size:12px;
  text-align:right;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:984px;
  top:509px;
  width:46px;
  height:14px;
  font-size:12px;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1082px;
  top:509px;
  width:60px;
  height:14px;
  font-size:12px;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1033px;
  top:42px;
  width:261px;
  height:28px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:31px;
  top:291px;
  width:143px;
  height:459px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:459px;
}
#u72 {
  position:absolute;
  left:2px;
  top:222px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:653px;
  top:290px;
  width:10px;
  height:40px;
}
#u73_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u73_end {
  position:absolute;
  left:-5px;
  top:31px;
  width:20px;
  height:14px;
}
#u73_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u74 {
  position:absolute;
  left:273px;
  top:302px;
  width:370px;
  height:15px;
  color:#FF0000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:653px;
  top:381px;
  width:10px;
  height:50px;
}
#u76_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u76_end {
  position:absolute;
  left:-5px;
  top:41px;
  width:20px;
  height:14px;
}
#u76_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u77 {
  position:absolute;
  left:1050px;
  top:253px;
  width:10px;
  height:186px;
  -webkit-transform:rotate(258deg);
  -moz-transform:rotate(258deg);
  -ms-transform:rotate(258deg);
  transform:rotate(258deg);
}
#u77_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u77_end {
  position:absolute;
  left:-5px;
  top:177px;
  width:20px;
  height:14px;
}
#u77_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:186px;
}
#u78 {
  position:absolute;
  left:1033px;
  top:357px;
  width:76px;
  height:13px;
  color:#FF0000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:189px;
  top:333px;
  width:781px;
  height:50px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:51px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:777px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:214px;
  top:349px;
  width:126px;
  height:19px;
  font-size:18px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:333px;
  top:346px;
  width:46px;
  height:21px;
  font-size:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
